.example-card {
  max-width: 400px;
  display: inline-block;
  /* margin-top: 0; */
  /* margin-left: 13%; */
  width: 40%;
  /* top: -20%; */
  margin-top: 11%;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }